[2022-03-04 18:24] adam2392 opened #5 "Discussion of correctness of IClabel-python vs EEGLab"
@mscheltienne reposting here as an issue to begin discussion again.

Quick update: our intern should have started on the 1st of March. But he did not yet get his work permit (mandatory in Switzerland), thus his start has been delayed and we hope he will be on board next week.

-------

I finally took the time to test it! It looks very promising but seems to favor a lot 'Other'.
Am I correct in ass

[2022-03-04 18:28] adam2392 commented on #5
Okay let us know when they are on board and we can schedule another time to chat.

Yes this order is correct.

So last time @jacobf18 and I spoke, we identified this issue as well. There are three main components to the ICLabel pipeline:

- generate features from data (features)
- format the features to be fed into the network (formatting)
- actually run the data through the network (network)

So

[2022-03-08 15:08] mscheltienne commented on #5
Alright, I think the first task for Anand will be to run the network on Python and MATLAB, compare the outputs, familiarize himself with the code. He can also work on the unit test to verify that the network weights match and to verify the formatting part (if you don't beat him to it 😉). As you said, we have to be very systematic in our testing approach and we have to compare MATLAB and Python out

[2022-03-17 11:07] rnawaz commented on #5
Hello all, I am trying to install/import iclabel-mne but not successful. For a starting purpose I will try to execute the above example by @adam2392 but I am not sure what I am doing wrong. I tried to install mne-iclabel via pip install method mentioned in [here](https://github.com/jacobf18/iclabel-python) via following

(NOTE: i am working in colab that's why exclamation mark before pip command)

[2022-03-17 12:04] mscheltienne opened #6 "Installation of mne_icalabel"
Hello all, I am trying to install/import iclabel-mne but not successful. For a starting purpose I will try to execute the above example by @adam2392 but I am not sure what I am doing wrong. I tried to install mne-iclabel via pip install method mentioned in [here](https://github.com/jacobf18/iclabel-python) via following

(NOTE: i am working in colab that's why exclamation mark before pip command)

[2022-03-17 12:27] rnawaz commented on #6
Thanks @mscheltienne for re-posting and opening a new issue. But, could you please link [#5 (comment)](https://github.com/jacobf18/iclabel-python/issues/5#issue-1159925942) to "**above example**" in the second sentence of my post. Just to avoid any mismatching of the thoughts.

[2022-03-17 12:43] mscheltienne commented on #6
@rnawaz Your problem is not related to the import lines. You copy/pasted the code from the other issue and it is correct.

The problem is that despite the installation, the package is not present in your environment.
As I am not familiar with colab, I don't think I can help you much with this part.

Also, this package is still under development and has not yet been fully tested/verified against th

[2022-03-17 13:34] rnawaz commented on #6
@mscheltienne Colab is just a cloud IDE for python.
Anyway, I tried to install the mne-iclabel in my local python setup via the following command

`pip install --user -U https://api.github.com/repos/jacobf18/iclabel-python/zipball/main`

and again the installation was successful. But when I tried to import using the following lines

`from mne_icalabel.ica_label import ica_eeg_features`
`from mne_i

[2022-03-17 13:39] mscheltienne commented on #6
Yes, I know what Colab is, and I thought the cloud-aspect might have caused the problem.
Clone the repository and then run `python setup.py install` or `python setup.py develop`, or with `pip`:

[code]

![Screenshot 2022-03-17 at 14 39 34](https://user-images.githubusercontent.com/73893616/158820811-57a343d0-18e2-4b11-9b17-8e5709ea3d98.png)

P.S: also for code formatting on GitHub, you can use tri

[2022-03-17 14:47] mscheltienne commented on #6
That is a surprising one.. I'm even surprised `pip install` worked on a Windows command prompt. On windows I use `py -m pip install` instead. I'm guessing you have multiple installs of pythons (environments) and the command `python` points to this 3.8.2 install while the command `pip` points to another one.

Probably if you do `python -m pip install git+https://github.com/jacobf18/iclabel-python`

[2022-03-17 14:57] adam2392 commented on #6
I cannot replicate this installation issue, so not sure how to help :/.

But also this repo is in super-alpha mode, so there is no guarantee of anything yet.

Once we establish an explicit understanding of how this repo differs from EEGLab's implementation of ICLabel, then we will thoroughly document and possibly move this repo under mne.tools GitHub organization.

[2022-03-17 16:46] mscheltienne commented on #6
Great. So I'll close this one, as the install part is solved.

But don't expect much support on the use-part for now, as Adam pointed out, this is a very early version, not verified, not tested, not documented, and not ready for use. You can play with it as much as you want, but you'll have to figure out on your own how it works, and there is no guarantee that the results outputted by the network

[2022-04-05 02:31] adam2392 commented on #5
@agramfort we are thinking of leveraging https://swipe4ica.github.io/#/ to build out an independent and bigger dataset to improve the ICLabel ported over from EEGLab.

I was thinking of having a hs student interested in working with me to contribute to this.

- How easy is it to get access to this dataset from the web app?
- Is it ready for usage?

@mscheltienne in addition, you mentioned you have

[2022-04-05 03:16] adam2392 opened #8 "BIDSification of Winkler et al. dataset"
The dataset referenced in https://github.com/agramfort/artifact-learn/issues/1#issuecomment-906141483 has good and bad components labeled after ICA.

To facilitate easy training/testing, it would be good to construct a BIDsification script to convert the dataset into BIDs format sometime using mne-bids.

cc: @jacobf18 @[mscheltienne](https://github.com/mscheltienne) @anandsaini024

[2022-04-05 03:17] adam2392 commented on #8
For that matter, bidsification of as many datasets as possible, but organized semantically according to the criterion that was specified in https://github.com/jacobf18/iclabel-python/issues/5#issuecomment-1076431272 (i.e. different recording montages, hardware, etc.)

[2022-04-05 03:18] adam2392 opened #9 "Integrating access to the swipe4ica web app dataset"
This will require some API access from Alexandre G. to make this possible.

We also want to possibly have some script convert this to an easily parseable dataset.

[2022-04-05 06:14] agramfort commented on #5
the EEG data is not public but the rendered images from the app are

the source code is here https://github.com/Swipe4ICA/swipe4ica.github.io

Message ID: ***@***.***>

On Tue, Apr 5, 2022 at 4:32 AM Adam Li ***@***.***> wrote:

[2022-04-05 08:45] mscheltienne commented on #5
All our datasets have to be converted to a common format anyway, so let's go with BIDS. For the ANT Neuro and EGI datasets I can provide, I don't think it will be too much work to convert them to BIDS and to save the ICA decomposition in a BIDS format.

[2022-04-05 08:48] mscheltienne commented on #8
I can have a look at the bidsification of this dataset, as I also will have to do the ANT and EGI ones as well anyway.
I never used mne-bids yet, but that was on my to-do list for a long time 😄

[2022-04-06 14:18] adam2392 commented on #8
Some things to think about:

- upper bound on the number of seconds included in an ICA decomposition (e.g. a minute)

[2022-04-06 14:26] adam2392 opened #10 "Setting up dataset repository for testing"
Similar to MNE-Python datasets API, just leverage pooch again to pull datasets from a repo.

Datasets unique to iclabel-python would be:
- the MATLAB convnet weight files
- additional feature files for the original ICLabel pipeline
- other EEGLab files that would be useful to integrate

In the future, I can imagine there needing to be more datasets unique to the mne-iclabel, which would warrant th

[2022-04-06 14:28] adam2392 commented on #10
I think this can go inside mne-tools GitHub repo, but I'll have to ask the core-dev team.

[2022-04-06 14:30] adam2392 commented on #5
Note for @adam2392 I need to push up the datafiles under `tests/data` and modify the .gitignore

[2022-04-06 17:58] adam2392 commented on #5
FYI: @mscheltienne and @anandsaini024 #11

[2022-04-06 18:02] adam2392 opened #12 "API and GUI: Creating a highly informative example/jupyter notebook for IC labeling"
We'll need an example/notebook walking through any team member on how the guidelines for labeling IC components are.

Ideally this notebook/example can be used by team asynchronously to
1) load the data
2) run ICA
3) manually annotate the components with their best guess and then
4) save the labels and ICA to centralized repo.

Reference: https://www.sciencedirect.com/science/article/pii/S01650270

[2022-04-13 03:51] adam2392 commented on #5
FYI @jacobf18 and I talked briefly today. He found an issue that he'll push up a PR for in the `autocorrelation` function.

[2022-04-13 14:00] mscheltienne commented on #8
For the raw EEG datasets that can be used for benchmarking, I have:
- ANT Neuro: I included 19 recordings of 4 minutes for now, and I can add more later easily.
- EGI: Still working on bidsification.

It would be good to centralize those datasets, any idea where?
The ANT Neuro one is small (less than 1 Gb) but the EGI one is above 30 Gb. I will crop the files during bidsification.

-------

Additi

[2022-04-13 14:02] mscheltienne commented on #12
Additional reference:
- https://labeling.ucsd.edu/tutorial/labels
- https://labeling.ucsd.edu/labelfeedback

[2022-04-13 15:07] adam2392 commented on #8
Perhaps for now, we can share via OneDrive, or Dropbox? I have access to OneDrive via institution still and can setup that if you guys don't have Dropbox pro?

Open to other ideas too.

I think long-term we want to store it on openneuro.org if that's okay?

Yeah there is no agreed-upon spec yet for ICA, but I think we should just follow the "format" that is suggested for derivatives and ICA. E.g.

[2022-04-20 14:09] adam2392 opened #16 "Fix dependencies in setup.py"

[2022-04-28 14:00] mscheltienne opened #19 "Discussion about the API for mne_icalabel and mne"
I would like to discuss a bit what the API would look like, both on the `mne_icalabel` side and on the `mne` side. Here is my point of view:

### `mne_icalabel`

As described in the readme, this package is not only a port of the popular `ICLabel` network for EEG but could host other models for EEG, MEG, and iEEG. Thus, I would structure the package as:

[code]

The main entry point from a user per

[2022-04-28 15:32] adam2392 opened #20 "Tidy Manifest"
For the `MANIFEST.in`, we can fix it in a follow-up. It needs more clean-up than just this `.txt`, and also do we include the data for the test files or not?

Let me know if the previous comment answers your question for the CAR issue.

_Originally posted by @mscheltienne in https://github.com/jacobf18/iclabel-python/issues/18#issuecomment-1111113074_

We should tighten up the MANIFEST file to rem

[2022-04-28 15:43] adam2392 commented on #19
This is essentially what I had in mind, so very much agreed.

Yes I believe this is a good route as well, so that way we only keep a maintained API of what is necessary from a user/researcher perspective.

I believe these methods are all using some pattern matching, so yes I agree, we can make a PR in MNE-Python when this package is ported.

I've made a change to FIFF before, so I think this will

[2022-04-28 15:47] mscheltienne commented on #19
I'm glad we had the same idea in mind. Those steps work for me and make perfect sense! 🔥

[2022-04-28 17:13] mscheltienne commented on #20
To be done after `iclabel` submodule is added since it will impact paths. c.f. #21

[2022-04-29 15:41] adam2392 opened #23 "Move all test data to a separate repository"
Perhaps mne-testing-data, or a new repository `mne-icalabel-testing-data`?

[2022-04-29 16:31] #20 closed

[2022-04-29 23:25] adam2392 commented on #16
I'll fix this next along with the RuntimeWarnings of unit tests.

FYI: @mscheltienne @jacobf18 and @anandsaini024 now the docs should be available soon at

https://adam2392.github.io/mne-icalabel/dev/index.html

[2022-04-30 15:40] adam2392 commented on #5
Now that this is "correct", should we release v0.1 on pypi?

@mscheltienne

[2022-04-30 16:18] #16 closed

[2022-04-30 16:18] mscheltienne commented on #5
I guess we can. Just one question, do we want to be backward compatible/use deprecation cycle from release 0.1 or can we keep some flexibility until a later release, e.g. when moved to `mne-tools`?

I'm thinking about the output of the main `label_components` function, currently, an array of shape `(n_components, n_classes)`, which is general and can be applied to any model; but might not be super

[2022-04-30 16:25] adam2392 commented on #5
Fair point. Let's finalize this API issue first before moving to v0.1.

Do you know where EEGLab documents the output order of the predicted class probabilities? I think the one I wrote in the examples is right, but it would be nice to double check this and have a reference to something.

Re how to output:
- We can perhaps structure it like a sklearn Transformer, since it just transforms the raw d

[2022-04-30 16:29] mscheltienne commented on #5
Does this count as documentation? It's probably where I found it the first time..
https://github.com/sccn/ICLabel/blob/e8abc99e0c371ff49eff115cf7955fafc7f7969a/iclabel.m#L60-L62

I'll have a look at the `Transformer`, I am not familiar with it.

[2022-04-30 16:38] adam2392 commented on #5
Ah yes that counts :p

[2022-05-02 14:13] mscheltienne commented on #19
For the `label_components` functions, how about it returns 2 elements, the labels obtained with a winner-takes-all strategy and the predicted probabilities? The format array `(n_components, n_classes)` has merit in itself.. even if it needs some further processing to get the labels.

For running the ICA in the background, sure, we can run it by default with sensible parameters if it is not provide

[2022-05-02 15:50] adam2392 commented on #19
Ah I see, so the proposal here is to migrate this altogether into MNE, so that way it's structured within the `info` object or something.

I'm in favor of then making the output here in this package a dictionary as you said:

- labels (corresponding string labels)
- y_pred_proba (array of predicted probabilities)
- y_pred (numerical labels)

The user can then pick the one they want. This can also

[2022-05-03 19:49] #10 closed

[2022-05-03 19:49] #23 closed

[2022-05-04 14:22] adam2392 commented on #12
^ In addition to the above tutorials, and in line with discussion today on Zoom, we want a lightweight pipeline in-house to annotate IC components that has the following features:

- GUI to easily have user visualize IC components from BIDS formatted dataset stored on disc
- interface to select different IC components as different labels (e.g. brain, eye blink, heart beat, etc.)
- 1-click commands

[2022-05-04 14:23] adam2392 commented on #8
Other datasets: https://github.com/agramfort/artifact-learn/tree/master/1-%20extract%20basic%20info%20from%20databases

looks like we can probably download online?

[2022-05-04 14:25] adam2392 opened #33 "Inviting to mne-icalabel team"
Hi @agramfort is it easy to invite others, such as @mscheltienne  and @anandsaini024 and @jacobf18 to the mne-icalabel team for read/write access?

I don't think I can do so because no privileges.

[2022-05-04 18:52] agramfort commented on #33
✅

[2022-05-05 13:40] adam2392 commented on #33
Are you also able to give me admin privileges on this repo so I can set things up like Zenodo and azure-pipelines?

[2022-05-05 14:45] agramfort commented on #33
You should be a maintainer now. Let me know if you need admin.

[2022-05-05 21:22] alexrockhill opened #35 "[BUG] Muscle artifact detection does not replicate MNE example"
Here's some minimally reproducible example code:

[code]

The components that should be muscle by my inspection at least are 6-15 shown here https://mne.tools/dev/auto_examples/preprocessing/muscle_ica.html

I get

[code]

which I guess is okay if blink and line noise supercede muscle. Maybe an enhancement would be adding all labels greater than some threshold so that there could be multiple.

[2022-05-05 21:29] alexrockhill commented on #35
Going component-by-component working backwards from 14:

14 labeled as brain, looks like muscle:
<img width="691" alt="Screen Shot 2022-05-05 at 2 25 21 PM" src="https://user-images.githubusercontent.com/13473576/167028208-d790b375-c5ec-447c-9054-e0a8f87a0d2d.png">

13 I really don't see line noise here, not sure what that's about:
<img width="686" alt="Screen Shot 2022-05-05 at 2 26 27 PM" src="h

[2022-05-05 21:32] adam2392 commented on #35
Thanks @alexrockhill! These are good examples, of how ICLabel is inherently not robust enough. Assuming this is just ICLabel model being not good enough, we are interested in pursuing better models.

@anandsaini024 is it easy to confirm that these don't work in EEGLab either?

We have unit tests for the entire pipeline, so I'm guessing EEGLab will give the same answer.

[2022-05-06 08:34] mscheltienne commented on #35
Same comment as adam, I'm not expecting EEGLAB to output differently, but let's check it!

[2022-05-06 13:03] mscheltienne commented on #35
@alexrockhill Both Anand and I tested your code, and we are not getting the same labels as you. We both got:

[code]

Which does look better? (I did not look at the components)
Could you try your code again in a fresh environment?

[2022-05-06 14:14] mscheltienne commented on #35
Also, looking at the probabilities (after fix in #36):

[code]

[2022-05-06 16:12] adam2392 commented on #35
Question regarding the fix: https://github.com/mne-tools/mne-icalabel/pull/36#discussion_r866885376

[2022-05-06 17:29] CarinaFo opened #38 "reshape from epochs data shape"
#### Describe the bug

I want to use iclabel on mne.epochs but get an error message regarding the shape (it somehow neglects the channel dimension):

#### Steps to reproduce

epochss[0].shape
epochss[0].get_data().shape
(719, 64, 751)

ic_labels = label_components(epochss[counter], icas[counter], method="iclabel")

Error msg:

<ipython-input-14-986a44b6c93e>:1: RuntimeWarning: The provided Epochs

[2022-05-06 17:43] adam2392 commented on #38
What is `counter` and the `n_components` in your ICA?

[2022-05-06 17:58] mscheltienne commented on #38
Could you explain how you create `epochss` and `icas`, which are I'm assuming list of Epochs instance and list of ICA instance?
`epochss[0]` seems to be an Epochs instance, so could you try:

[code]

[2022-05-06 18:25] alexrockhill commented on #35
Huh, I had just installed it for the first time so it was a fresh environment. Here's my `mne sys_info`:

[code]

I can look into it and try again in a bit. Interesting that 8 is brain, it looks like the clearest muscle topo of them all although it looks like maybe just one big movement.

<img width="280" alt="Screen Shot 2022-05-06 at 11 24 43 AM" src="https://user-images.githubusercontent.com/13

[2022-05-06 18:40] mscheltienne commented on #35
@alexrockhill Anand tested on his environment on Windows, and I tested on a fresh environment on macOS (I did not have it setup on that laptop yet). I am now on a different PC again, on windows and using your code snippet I get again:

[code]

I don't know why you are getting a different result, but the ICA decomposition looks different. I have:

![Capture](https://user-images.githubusercontent.co

[2022-05-07 12:37] hoechenberger opened #39 "When viewing the stable docs, I see an (empty) changelog for the dev version"
https://mne.tools/mne-icalabel/stable/whats_new.html
<img width="1021" alt="Screen Shot 2022-05-07 at 14 36 54" src="https://user-images.githubusercontent.com/2046265/167254745-db29281c-8860-4607-ab8f-af372bc33e2f.png">

[2022-05-07 13:52] adam2392 commented on #39
Ah did the docs deployment wrong :(

[2022-05-08 16:44] #5 closed

[2022-05-08 16:45] #33 closed

[2022-05-08 20:27] adam2392 commented on #39
Should be fixed now.

[2022-05-08 20:27] #39 closed

[2022-05-09 07:33] CarinaFo commented on #38
Yes, both lists contain the epochs I used to fit ICA and the fitted ICA per
subject. I save the data with pickle.
I tried what you suggested but get the same error, I don't think it is
related to the way I save the data.

Am Fr., 6. Mai 2022 um 19:58 Uhr schrieb Mathieu Scheltienne <
***@***.***>:

[2022-05-09 08:40] mscheltienne commented on #38
Can you share one of the pickled files?
By the way, epochs and ICA instances can be saved to `.fif` format with the method `.save()`.

[2022-05-09 11:18] hoechenberger opened #43 "Package name"
Hello, is there a particular reason this package is called `ICALabel` instead of `ICLabel`? The latter is somewhat more intuitive to me, but maybe that's just a personal preference thing…

[2022-05-09 12:33] adam2392 commented on #43
Good question!

Wanted to make this more general than the ICLabel module. So didn't want ppl to think it's only ICLabel.

[2022-05-09 13:22] #43 closed

[2022-05-10 02:45] adam2392 commented on #12
For discussion next week: I was thinking that if we want to produce an "annotation" pipeline, we want to fire up the following subplots:

- topoplot
- the actual IC time-series
- power spectrum of the IC time-series
- dipole plot (is this easy to compute?)
- single-trial time-course (?)

Possibly also with a corresponding time-series plot of all ICA components. This subplot would be repeated for a

[2022-05-10 08:50] mscheltienne commented on #12
Agree. The single-trial time-course is optional I think, personally, I'm mostly looking at the 3 first features you listed.
The utility function is a good idea, and it would be nice if it was easy to embed the figure(s) into a Qt widget.

Also, we need to decide on the label classes:
-> Brain / No brain (as I think is the case on swap4ica and on the MARA dataset)
-> Brain / Ocular / Cardiac / Musc

[2022-05-10 09:45] hoechenberger opened #44 "https://mne.tools/mne-icalabel doesn't redirect to the correct site"
Instead, I end up here:
<img width="1440" alt="Screen Shot 2022-05-10 at 11 43 48" src="https://user-images.githubusercontent.com/2046265/167600146-93b51d5c-6044-4dd5-a682-cab6756e6b12.png">

https://mne.tools/mne-icalabel/stable/index.html OTOH works fine.

[2022-05-10 09:53] hoechenberger opened #45 "Runtime requirements missing from setup.py"
Please add the dependencies via `install_requires` in `setup.py` (or put that stuff into `pyproject.toml`), including the minimal required version numbers. It appears that currently the dependencies are only specified in `requirements.txt`, so installing this package e.g. from PyPI won't pull in any requirements.

[2022-05-10 13:12] hoechenberger commented on #45
I'm sorry, I overlooked setup.cfg, everything is in there.

[2022-05-10 13:12] #45 closed

[2022-05-10 13:13] hoechenberger opened #46 "Mismatch between required Python version according to docs vs setup.cfg"
In setup.cfg, it says Python 3.7+ is required, but in the docs, it says 3.8+

[2022-05-10 13:15] hoechenberger opened #47 "Is MNE 0.24 supported?"
setup.cfg says mne 0.24 is the minimum required version. However, I don't think this has (ever?) been tested? Should this be bumped to 1.0?

[2022-05-10 13:24] mscheltienne commented on #47
+1 to bump to 1.0.

[2022-05-10 13:31] hoechenberger opened #48 "Remove extras_require?"
All dependencies currently listed as `extras_require.full` apparently are only used for building docs and running tests, so I think they should be dropped from `setup.cfg`.

[2022-05-10 13:37] hoechenberger opened #50 "Don't recommend a user install via pip"
I've never seen `pip install --user` causing anything but hard to debug trouble and confusion. I'd strongly advocate for removing this suggestion from the install docs. If a user has to rely on a centrally managed Python environment, they should talk to their administrator to install missing packages.

The problem stems from the fact that Python will by default prefer user-installed packages, so e

[2022-05-10 13:38] hoechenberger opened #51 "Point to the MNE installation instructions for getting MNE to run"
We've put a lot of work into creating the MNE installation instructions because there are sooo many potential issues users can run into. Instead of simply suggesting users run `conda install mne` or `pip install mne` here, I'd just say: see the official MNE installation instructions and then come back here again.

Edit: And once we have a `conda-forge` package of MNE-ICALabel, we can include it in

[2022-05-10 13:47] hoechenberger opened #52 "importlib-resources is required for Python <3.9"
I checked the Python docs and apparently, `importlib.resources.files` didn't show up until Python 3.9.

So we need a conditional runtime dependency for `importlib-resources` for older Python versions in setup.cfg.

The code for using this fallback is already present here.

[2022-05-10 14:50] mscheltienne commented on #51
I think we can wait for the conda package and inc. in the installers before refactoring the installation page in the documentation.

[2022-05-10 16:12] adam2392 commented on #44
Ooo good catch. I just pushed a change to `gh-pages`. Let's wait to see if it works...

[2022-05-10 16:18] adam2392 commented on #44
Not sure why it's still happening, but I deleted the gh-pages branch from my fork... Maybe that's what's causing the issue? Maybe it'll need to wait for GH to refresh end of day/hour(?)

[2022-05-10 16:21] adam2392 commented on #44
Giving my personal website additional hits I guess :p

[2022-05-10 19:12] #46 closed

[2022-05-10 19:12] #47 closed

[2022-05-10 19:12] #48 closed

[2022-05-10 19:12] #52 closed

[2022-05-10 19:13] adam2392 commented on #44
Still going there... not sure how to fix 0_0

[2022-05-10 19:41] hoechenberger commented on #44
@larsoner Can you help?

[2022-05-10 19:42] #50 closed

[2022-05-10 19:42] #51 closed

[2022-05-11 08:16] hoechenberger opened #56 "Using it on Windows?"
Hello, has anyone here tried to use this package on Windows? I'm having a bit of trouble getting PyTorch to work on this platform via `conda-forge`, as there's currently not `conda-forge` package of PyTorch available: https://github.com/mne-tools/mne-installers/pull/123#issuecomment-1123310172

Just wanted to ask if anybody's got experience with this sort of issue?

[2022-05-11 08:34] mscheltienne commented on #56
Yes, but I'm not using `conda` and I'm getting PyTorch from `pip`. Works like a charm :)

[2022-05-11 08:42] hoechenberger commented on #56
How do you install Python?

[2022-05-11 09:25] mscheltienne commented on #56
On windows, I grab the installer 64 bits here: https://www.python.org/downloads/release/python-3912/ (or a different version), install it for all users (I don't like installing in the user directories), and add the python directories to the system path (through the installer).
Then, since I'm using Spyder as IDE, I usually install it in the base environment with `py -m pip install spyder`. I creat

[2022-05-11 09:43] hoechenberger commented on #56
The comic is outdated, macOS doesn't ship with system Python anymore :)

[2022-05-11 09:45] mscheltienne commented on #56
I'm still running 11.6 Big Sur, too scared to update :)
Glad to know that they finally got rid of this 2.7 default version!

[2022-05-11 16:14] adam2392 commented on #56
I haven't used a Windows computer in over 5-10(?) years now, so unfortunately I cannot help :p

[2022-05-11 16:23] hoechenberger commented on #56
Yes, same … But I suppose I should get one specifically for this kind of stuff

[2022-05-11 18:59] adam2392 commented on #12
Is there any reason to do all the sub-classes of non-brain (i.e. ocular, cardiac, etc.)?

I feel like the utility is low. On the other hand, labeling them accurately can be beneficial for power-users who want to work with a specific signal(?).

I suppose labeling heart-beat is also nice, cuz hypothetically someone can use EEG and back out "EOG" and "heart-rate" data.

[2022-05-11 19:05] hoechenberger commented on #12
For me personally having EOG and ECG labeled as such would be very beneficial

[2022-05-11 19:09] adam2392 commented on #12
Okay, I was on the border, so I'm convinced :p. I suppose we should just follow the ICLabel set of labels then.

@hoechenberger do you know a good pipeline accessible in MNE that we can annotate ICA components like this? I think the current GUI just marks "include/exclude".

[2022-05-11 19:19] mscheltienne commented on #12
I think ocular and heartbeat could be labeled as such, as both are super easy to spot. For the others.. I'm not sure there is much gain, and the distinction between 'channel noise' and 'muscle' might be a bit difficult to do.
Let's keep in mind that the first objective of those datasets that we will label is to benchmark the models/methods. The training part requires a larger labelled dataset, e.g

[2022-05-11 20:11] hoechenberger commented on #12
I'm not exactly sure I fully understand the question; what I do (and what we do in the MNE-BIDS-Pipeline) is that we run `ICA.find_bads_eXg()` on epochs centered around heartbeat or ocular artifacts (created via `create_eXg_epochs()`), and then we can select the best-matching components based on the score these functions return.

[2022-05-11 20:16] mscheltienne commented on #12
We are looking for a nice GUI, simple to use that displays a couple of features per component (topoplots, PSD, time-series, ...) and lets you select which category these components are; and then we want to adapt it to load and save simply our files and ICs in a format that we can use for benchmarking or training.
Nothing automatic, just some good old interactive buttons :)

[2022-05-11 20:22] hoechenberger commented on #12
Honestly I think I would cook up an extremely simple Qt window that:

- embeds the `ICA.plot_properties()` figure
- places a couple buttons below or next to it
- appends the selection (via button press) to a TSV file

In the MNE-BIDS-Pipeline we create TSVs like this:

[code]

[2022-05-11 20:24] mscheltienne commented on #12
That's what I had in mind as well. Maybe we can re-use some widget or stuff from `mnelab` (I did not look into it yet).

[2022-05-18 14:13] adam2392 commented on #12
Reference to the ICA step that creates the "derived" files: https://github.com/mne-tools/mne-bids-pipeline/blob/main/scripts/preprocessing/_04a_run_ica.py

[2022-05-18 17:22] adam2392 opened #59 "JOSS paper for DOI of ICLabel port"
https://joss.readthedocs.io/en/latest/submitting.html

[2022-05-18 17:36] mscheltienne commented on #59
Thank you, it looks straightforward!

[2022-05-19 17:02] adam2392 commented on #59
Kay quick summary:

1. we reproduce ICLabel
2. migrate their outdated network -> modern pytorch
3. provide a simple API integrated with MNE-Python
4. enable further improvements and future models

Anyone that's contributed anything to getting this done should of course be an author, so I have: Jacob,Anand,me,Mathieu?

I think since @hoechenberger setup the conda-forge, he should be an author too.

[2022-05-20 09:13] mscheltienne commented on #59
Agree that @hoechenberger should be added, the setup on conda-forge was a huge time save!

[2022-05-24 20:14] adam2392 commented on #12
Now that #60 has been merged, the next steps are to:

1. prototype a GUI that essentially calls the API for updating the file
2. test the GUI on a dataset to see if it functions properly

Ideally we can get this done by IIRC we said last meeting early June(?), say June 10th? Need this pipeline to make the hs student able to annotated during the month of July.

for point 1. above, we'll need to mak

[2022-05-25 14:09] mscheltienne commented on #12
This dataset can be used for testing: https://openneuro.org/datasets/ds004132/versions/1.0.0
It's 64 channels ANT device recordings from 19 people (I will update it with more recordings).

I'll add soon a 200+ EGI device dataset.

[2022-05-26 13:06] #59 closed

[2022-06-04 11:25] sourestdeeds opened #63 "Labels for Epoch objects"
#### Describe the bug
Upon fitting with ICA on an epochs instance, i pass in the object (along with a fitted ica instance on the same epoch object) using

[code]

The error generated is

[code]

If I instead use the following raw instance to classify the epochs it works, is this intended? Essentially I'm performing ICA *after* epoching, so I'm not sure how using the fitted ica on epoch data and th

[2022-06-04 12:56] mscheltienne commented on #63
Hello, thank you for reporting the issue! but I can not reproduce based on your description..

[code]

Outputs:

[code]

Could you try to reproduce the issue by using a dataset from the MNE sample dataset as I did above, or could you share a minimally reproducible example with the attached files that raises the error?

[2022-06-04 12:59] mscheltienne commented on #63
Looks similar to the issue in #38

[2022-06-04 13:10] sourestdeeds commented on #63
If it helps I'm having a look at the line this is caused by. The shape of my raw and epochs are

[code]

[2022-06-04 13:31] mscheltienne commented on #63
It's difficult to debug if I can not reproduce the error. Could you share some script and files to reproduce it?

For the shapes, with the example from the MNE sample dataset, I have:

[code]

Which looks similar to you, assuming you do have 122 EEG channels and 909 epochs.
And for the index variables in `_eeg_rpsd_constants`, breaking on line 274 (not executing it): https://github.com/mne-tools/m

[2022-06-04 13:35] mscheltienne commented on #63
Am I correct in assuming the sampling frequency of your data is 128 Hz?

[2022-06-04 14:59] sourestdeeds commented on #63
Yeah, I downsampled the raw to 128Hz and then went

[code]

[2022-06-04 15:03] mscheltienne commented on #63
Thank you! I managed to reproduce it with this sample:

[code]

I'll have a look.

[2022-06-06 21:35] #63 closed

[2022-06-06 21:36] mscheltienne commented on #63
@sourestdeeds It's fixed on main and will be fixed in release `>= 0.2.0`.

[2022-06-06 21:50] mscheltienne commented on #44
Maybe related to this file: https://github.com/mne-tools/mne-icalabel/blob/ae3a799b919991a96dd04952d838c06543b41d83/index.html#L5-L13

How is it generated?

[2022-06-06 22:11] sourestdeeds commented on #63
Thats amazing! Thanks so much, my automated workflow is working super well now.

Hopefully i can use this to get some classification results on my super noisy data

[2022-06-06 22:27] adam2392 commented on #44
Ah good find... I think that was leftover from before. I was looking in the main branch, when it was a culprit of the gh-pages branch.

Pushing a manual fix rn

[2022-06-06 22:29] adam2392 commented on #44
It works! Thanks @mscheltienne !

[2022-06-06 22:29] #44 closed

[2022-06-07 00:06] jacobf18 commented on #56
@hoechenberger I'm not using a windows machine, but if you want to try installing PyTorch on your own and using the source code from git directly, the PyTorch page describes how to install it on windows: https://pytorch.org/get-started/locally/.

[2022-06-14 14:50] adam2392 commented on #8
For more data and inspiration, we can look at this review paper: https://iopscience.iop.org/article/10.1088/1741-2560/12/3/031001/pdf

[2022-06-14 16:01] adam2392 commented on #12
I've been lagging @mscheltienne with some stuff that's come up. Apologies! Hoping to put up a sketch of the code at the very least tonight tho so we can take a "look together".

[2022-06-15 15:29] mscheltienne commented on #12
Epilepsy EEG -> EGI (different manufacturer, sponge-based electrode)

[2022-06-15 15:58] adam2392 commented on #12
Epilepsy EEG is Nihon Kohden and not sure on the electrode :p.

[2022-06-15 16:03] mscheltienne commented on #12
Oh OK ahah

For the preprocessing pipeline, this is what I would go for:

[code]

And here is the post with the rule of thumb for the number of samples to provide: https://mne.discourse.group/t/ideal-length-of-epochs-ideal-number-of-components-for-ica/4865/2
Lucky I had it bookmark :)

[2022-06-15 16:23] adam2392 commented on #12
The discourse post seems to suggest 1-2 second epochs? However, we want to do 1 minute right?

[2022-06-15 19:25] adam2392 commented on #8
For references:
mara -> BIDS: https://gist.github.com/mscheltienne/680f46336aec8a0408f30952c3d72e8d

ANT to BIDS: https://gist.github.com/mscheltienne/fe3dcc7dafef7539018a6a00ba73afed

[2022-06-16 11:05] mscheltienne opened #67 "ICLabel topographic feature fails if ICA and Raw have a channel mismatch"
ICLabel topographic feature is failing if the ICA was fit on a partial raw (e.g. excluding bad channels). I'll have a look.

Code snippet:

[code]

[2022-06-16 13:52] adam2392 commented on #8
See: https://github.com/adam2392/improve_icalabel for now scripts centralized into one repo.

[2022-06-16 14:26] #67 closed

[2022-06-27 15:03] adam2392 commented on #8
Some open questions that we can defer to later of course:
- how do we annotate components without the raw data?
- the issue in mne-python is that it requires an `inst` in  order to apply the fitted ICA to get the estimated "sources". We need to probably hack an API for interfacing with the stored ICA time-series. Perhaps we just use them as `RawArray`?
- how to run the benchmarks on these two sett

[2022-06-27 19:43] mscheltienne commented on #8
+1 for the IC time-series as RawArray, with an extension e.g. `'*-sources-raw.fif'` for the MARA dataset.

In this convert function:

https://github.com/adam2392/improve_icalabel/blob/96522dacd045a5caa50f7f4653d9fd988a29bfa1/mnestudy/ica_to_bids/mara.py#L35-L44
For each iteration, the missing steps are to save the ICA `ica` with an extension `-ica.fif`, save the IC time-series `sources` as a RawAr

[2022-06-27 22:43] anandsaini024 commented on #8
Alright, I will pick this up.

[2022-06-28 02:10] adam2392 commented on #8
@anandsaini024 have you preprocessed the ANTS dataset already? I am going to use one of the subjects as a test subject for the hs student to QA his annotations.

[2022-06-28 15:48] adam2392 commented on #8
I unfortunately did not. Perhaps it just didn't finish uploading yet?

Openneuro even tho it's "nice" seems pretty buggy -__-

[2022-06-28 16:27] mscheltienne commented on #8
Yep.. I had multiple issues with it recently.
It did finish uploading for sure (I was very careful about that :p).. I'll upload it to dropbox or GoogleDrive this evening and I'll share it on your Gmail account.

[2022-06-28 17:22] adam2392 commented on #8
Oh I see it now on openneuro :p

[2022-06-28 17:30] mscheltienne commented on #8
Same it finally popped up on my account..
So just to be cleared the `proc-raw` are raw data as it comes out of the amplifier; and the `proc-pp` and `proc-ica` are what comes out of https://github.com/adam2392/improve_icalabel/tree/master/mnestudy/raw_to_bids

[2022-06-29 01:48] adam2392 commented on #8
Agenda for tomorrow so I don't forget:
1. sharing of the preprocessed MARA dataset.
2. ICLabel existing dataset?
3. GUI
4. preprocessing workflow for ANTs

[2022-07-11 14:36] mscheltienne opened #70 "Clean-up _mne_to_eeglab_locs doc and comments"
Hello @jacobf18, when you have the time (super low priority!), could you check and clean up the doc and comments that were left in https://github.com/mne-tools/mne-icalabel/blob/15679f1adf9a8c39d3fc208e907f4f3b02a24462/mne_icalabel/iclabel/utils.py#L8-L75

[2022-07-18 21:23] adam2392 opened #72 "Refactor ICA Component Labeling GUI Based on MNE-Python API"
We would like to refactor the ICA GUI to use the ICA API provided in MNE-Python. This will rely on the PR to solve the issues raised in: https://github.com/mne-tools/mne-python/issues/9846#issuecomment-1188297439

[code]

_Originally posted by @mscheltienne in https://github.com/mne-tools/mne-icalabel/pull/66#discussion_r923864810_

[2022-07-19 22:04] adam2392 opened #74 "Enhance Labeling GUI with MNE-QT Backend"
Just to leave a comment for the next issue on v2.0 of the GUI:

The next version of the GUI would require a modular QT MNE backend.

1. This would require a PR as Martin suggests to `BrowserBase` to be able to sub out the actual data for the plotting. The API would probably be something like `browser.replace_data(inst)`.
2. Then a PR to mne-qt-browser to add the capability inside the MNE QT browse

[2022-07-20 12:33] mscheltienne commented on #74
@marsipu @adam2393 It looks like a lot of work for a niche use case of the browser. `ica.plot_sources(self._inst, picks=[0])` will return a QtWidget. If I read correctly the `_pg_figure.py`, this widget `browser` should have a `browser.mne.viewbox` attribute and a `browser.mne.plt` attribute. And we should be able to swap the trace for new data through one of them.

But I have to get my head back

[2022-07-28 13:49] adam2392 opened #81 "Add utility function for porting from MNE-Python ICA labels/labels_score data structure to internals"
IN #66 there's some repeated code for handling the conversion of MNE-Python's ICA internal data structures to labels on our end and vice versa. We should create a robust utility function to ensure bugs don't leak thru.

[2022-07-28 13:51] mscheltienne commented on #81
Can you precise this a bit? I'm not sure I'm following

[2022-07-28 13:59] adam2392 commented on #81
It's mainly code like this in the GUI:

[code]

and code like this in `write_components_tsv`

[code]

and we'll probably want to modify the ICA instance in place when running the automated models, so like in ICLabel:

[code]

These I just wrote up for the sake of making it work, but prolly best to have a private API for interfacing the conversion between MNE and our ICA label semantics.

[2022-07-28 14:00] mscheltienne commented on #81
OK sure!

[2022-07-29 17:56] adam2392 commented on #12
Can be closed now by the introduction of the GUI and API for labeling: #66

[2022-07-29 17:56] #12 closed

[2022-07-31 16:39] TomDonoghue opened #83 "Notes on JOSS paper"
Some brief comments / suggestions on the current draft of the JOSS paper:
- lines 16-18: I find this sentence a little vague, and a couple sentences could clarify the details
    - how it makes this available: "this work *makes the popular Matlab-based ICLabel model available in MNE-Python*
    - something more on what "modern Pytorch format", as this is a bit unclear
- line 41: say "we will build

[2022-07-31 19:01] TomDonoghue opened #86 "Comments on the docsite"
Collecting a few small / quick comments on the documentation website.
This comment / review is part of the JOSS paper review:
https://github.com/openjournals/joss-reviews/issues/4484

General:
- In the `About` part of the repo page (top right), it would be useful to put the documentation site in the link field
- There seems to be small issue with the version selector (multiple "v0.1"s)
    - ![Scr

[2022-07-31 21:04] adam2392 commented on #86
@agramfort are you able to provide me with admin access to the repo? I can't change the `About` field in the repo

[2022-07-31 21:22] adam2392 commented on #83
Thanks for the comment, we've changed the sentence from: `This work adds
17 the popular ICLabel model (Pion-Tonachini et al., 2019) to the MNE-Python (Gramfort et al.,
18 2013) software toolkit in a modern Pytorch format (Paszke et al., 2019).` to now say the following:

[code]

Here, we meant to specify our future plans for the repository, which would extend beyond just the ICLabel model. I have

[2022-07-31 21:44] adam2392 commented on #83
I added the following sentences in the `Statement of Need`.

`Pytorch is the most common Python deep-learning framework among researchers. Replicating the model in Pytorch enables future automatic ICA annotation research to easily build upon the model.`

Does this address this concern?

[2022-07-31 21:46] jacobf18 commented on #83
@adam2392 Small fix, but PyTorch is spelled with camel case.

[2022-08-01 06:26] agramfort commented on #86
Done

[2022-08-01 09:22] mscheltienne commented on #86
Thank you for the detailed feedback! We will have a look at those items.

[2022-08-01 14:46] adam2392 commented on #86
Thanks for the feedback! Will add a comment for each item.

Added!

Fixed both license and drop-down menu: https://mne.tools/mne-icalabel/v0.1/index.html#indices-and-tables

[2022-08-02 18:44] adam2392 commented on #19
Just notes for the steps to integrate the underlying data structures for the `ICA` class in MNE-Python:

1. Maintain a fork of FIFF-constants w/ constants we want to add:
	- in the PR of MNE-Python, for fiff-constants update the branch temporarily to this fork to show tests pass
	- in the MNE PR, converge on the API first of what the underlying `labels_scores_` and `labels_` looks like.

Check mne

[2022-08-03 04:08] #83 closed

[2022-08-03 15:56] adam2392 commented on #86
Hi @TomDonoghue I have addressed the remainder of your comments around the example and documentation: https://mne.tools/mne-icalabel/dev/index.html

Thanks so much for the feedback! lmk if you have other issues w/ how we reformatted/re-wrote the example.

[2022-08-04 16:08] adam2392 opened #90 "Release v0.3"
We should release v0.3 once #88 and #73 is merged.

[2022-08-05 09:47] mscheltienne commented on #90
Also, we will need to update the conda-forge recipe with the 'new' dependencies.
We could do something like MNE with:
- `conda install -c conda-forge mne-icalabel` equivalent to `pip install mne-icalabel[ica,gui]`
- `conda install -c condaa-forge mne-icalabel-dev` equivalent to `pip install mne-icalabel[all]`

[2022-08-05 13:51] adam2392 commented on #90
Do you remember how to update the conda recipe? Is it this file? Are there writeup instructions anywhere?

https://github.com/conda-forge/mne-icalabel-feedstock/blob/main/recipe/meta.yaml

[2022-08-05 13:56] mscheltienne commented on #90
Yes, it's the recipe. I know how to do it, and I'll fix it after the Pypi release. Even if the conda-bot picks up the release, it won't automerge the PR as it will detect changes in the dependencies.

Also, now that I'm thinking about it, the `mne-icalabel-dev` key won't work. Just as MNE does not have `-dev` key, most of the development dependencies are not available on conda.

[2022-08-05 13:59] adam2392 commented on #90
I think perhaps we leave conda as just the base install for full functionality perhaps?

E.g. base and GUI?

Cuz everything else is technically dev related and can be added with pip?

[2022-08-05 14:12] mscheltienne commented on #90
I think we should have this:

- `conda install -c conda-forge mne-icalabel` equivalent to `pip install mne-icalabel[ica,gui]`

------------

2 scenarios:
- Someone installs MNE and then MNE-ICALabel

[code]

Both GUI and ICA dependencies are already resolved by the installation of MNE https://github.com/conda-forge/mne-feedstock/blob/ced43efa6f73d7a3438301c6ac30e48987c46e0a/recipe/meta.yaml#L53-L9

[2022-08-05 15:02] adam2392 opened #93 "Improve test coverage"
Looks like the main parts to improve are `annotations` submodule. We should also ignore the `commands` submodule probably. I think getting those two fixed should bring our test coverage to 90+

<img width="950" alt="Screen Shot 2022-08-05 at 11 01 22 AM" src="https://user-images.githubusercontent.com/3460267/183104994-2e197363-daa3-4aee-b774-687322ee1fa4.png">

[2022-08-05 15:04] mscheltienne commented on #93
The display is a bit miss-leading here, the commands module is already ignored: https://github.com/mne-tools/mne-icalabel/blob/a09dddc7e5133b452e31d30c6ca6ac3ca10f4690/pyproject.toml#L168-L178
It was added as part of #88

[2022-08-05 15:07] mscheltienne commented on #93
And you need to click on `commands` to 'see' that it's ignored:

<img width="1220" alt="Screenshot 2022-08-05 at 17 05 55" src="https://user-images.githubusercontent.com/73893616/183105964-554a1d16-8873-4a57-8def-c860880c5d05.png">

If you remove the module from the `omit` argument, instead of a white square it will show 0%.

[2022-08-08 12:40] mscheltienne commented on #90
I think we don't need to wait on #73, I'm still not convinced it is ready to be merged. But let's wait on #93, at least because of the format change from array to list for `ica.labels_`.

[2022-08-08 15:30] adam2392 commented on #90
I'm not in a particular rush, so I'm okay w/ waiting for #73 and #93 since the next steps of the work I think are:

1. annotating the dataset once or twice when Aaron returns from his summer camp
2. begin testing out models for end-to-end training
3. benchmark models w/ out of the box stuff like RF

These will probably require some of the feature stuff anyways.

[2022-08-09 15:42] mscheltienne commented on #93
Now, codecov reports 89.71%. There is definitely a configuration issue, the 93.31% I was getting via `pytest --cov-report term-missing --cov=mne_icalabel mne_icalabel` made more sense.

![image](https://user-images.githubusercontent.com/73893616/183697345-43a72c60-63f3-4d0b-ab49-7e233f886205.png)

[2022-08-09 15:58] adam2392 commented on #93
Hmm must be something fishy w/ codecov itself then. It seems like its somehow caching the `commands/` submodule, when we told it to omit it.

[2022-08-09 16:11] mscheltienne commented on #93
Yes exactly.. The configuration in `pyproject.toml` is:

[code]

And there is actually an `omit` argument for `[tool.coverage.report]` as well. I did try it in one of the commits of #94 and it did not change anything as far as `Codecov` is concerned. I did not find any configuration set for Codecov, neither at the repository or at the organization level that could explain it.

[2022-08-10 14:20] adam2392 commented on #90
@hoechenberger just to clarify, for me to update the conda recipe I have to make a PR to the feedstock meta.yml file?

[2022-08-10 14:29] mscheltienne commented on #90
I can do it if you want, or we can wait for the bot to pick it up, create the PR, and ask us to fix it because some of the dependencies changed.

[2022-08-11 01:51] adam2392 commented on #90
Released v0.3 on pypi

[2022-08-11 01:51] adam2392 commented on #90
Will close now when conda picks up v0.3

[2022-08-11 14:34] vferat opened #99 ".pt not included in v0.3"
#### Describe the bug
`FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\ferat\\AppData\\Local\\Continuum\\miniconda3\\envs\\ni39\\lib\\site-packages\\mne_icalabel\\iclabel\\assets\\iclabelNet.pt'`

#### Steps to reproduce
Install version '0.3' via `pip`
then run:
`label_components(raw, ica, method='iclabel')`

#### Additional information
Autocorrection may have change `assets` b

[2022-08-11 14:37] adam2392 commented on #99
@mscheltienne FYI.

I guess we'll need to release v0.3.1? or idk if we can re-release v0.3

[2022-08-11 14:45] mscheltienne commented on #99
Yes 0.3.1.. thanks Victor.. it's a typo here: https://github.com/mne-tools/mne-icalabel/blob/f9ec08ef94e5fd9706a2b6db58e1a8e25a6e8263/pyproject.toml#L124

I'll fix it now, and check that the build does include the `.pt`.

[2022-08-11 14:55] mscheltienne commented on #99
Keeping open until bugfix release.

[2022-08-11 15:09] adam2392 commented on #99
Might not be able to get to it until later today, if you have time to try to make the release.

[2022-08-11 15:18] adam2392 commented on #99
Jk I can do it now.

[2022-08-11 15:20] adam2392 commented on #99
https://pypi.org/project/mne-icalabel/

[2022-08-11 15:21] #99 closed

[2022-08-17 15:01] #90 closed

[2022-08-18 19:52] adswa opened #102 "[DOC] License link in documentation 404's"
Hello :wave: :)
I read through the documentation and notived that the "License" header in the [documentation](https://mne.tools/mne-icalabel/stable/index.html#) points to https://raw.githubusercontent.com/mne-tools/mne-icalabel/blob/main/LICENSE, which does not resolve. The correct link would be https://raw.githubusercontent.com/mne-tools/mne-icalabel/main/LICENSE.

Here's a patch:

[code]

Found

[2022-08-19 07:06] adswa opened #103 "[GUI] Additional PyQt5 dependency?"
#### Describe the bug
Invoking the GUI after an installation of ``mne-icalabel[gui]`` via pip on a Windows 11 and Debian bookworm machine in a fresh Python 3.9 environment fails with an
[code]
Installing PyQt5 resolves the error.

#### Steps to reproduce

On both machines, I performed the following installations:
[code]
and then followed the [tutorial](https://mne.tools/mne-icalabel/dev/auto_examp

[2022-08-19 07:24] adswa opened #104 "[GUI] Missing or non-expandable ICA properties"
#### Describe the bug
The GUI seems to lack some ICA property plots shown in the tutorial, or they exists, but can't be expanded.

#### Steps to reproduce
I followed the [tutorial](https://mne.tools/mne-icalabel/dev/auto_examples/label_components.html#sphx-glr-auto-examples-label-components-py), using a Python 3.9 environment on a Windows 11 and a Debian bookworm system.

#### Expected results
I e

[2022-08-19 08:07] adswa opened #105 "[DOC] Clarify the types of data to be used"
I am unfamiliar with the original ICLabel tool, and in reading the docs and subsequently applying mne-icalabel it to my own MEG data I got confused for which types of data it is intended to be used. The paper and introduction in the documention mention "Scalp electroencephalography (EEG) and magnetoencephalography (MEG)" explicitly, and summarize generally "mne-icalabel is a Python package for lab

[2022-08-19 08:33] mscheltienne commented on #103
Yes, we took the same approach as `mne-qt-browser`: install `qtpy` but don't install one of the 4 possibles `qt bindings`. c.f. their [requirement file](https://github.com/mne-tools/mne-qt-browser/blob/main/requirements.txt). It is up to the user to install in the environment one of `PyQt5`, `PyQt6`, `PySide2`, or `Pyside6`.

The difference with `mne-qt-browser` is that we raise if the bindings ar

[2022-08-19 08:39] mscheltienne commented on #104
They are not present. We only included those 3 features for now. Also, you might have noticed that for now, each time you select a new IC, the previous `mne-qt-browser` (bottom right) is closed and a new one is opened and placed in the window. Not ideal.

This GUI is a very recent addition, it's an early version. The layout and the size of the widgets are not great. The features included will be e

[2022-08-19 09:07] #102 closed

[2022-08-19 09:09] mscheltienne commented on #102
Thanks for the review, that should be fixed, I'll check when it's deployed. For the link in the "About" overview section, @adam2392 do you have any preference?

[2022-08-19 09:14] adswa opened #107 "[JOSS] Nitpicks on the paper"
As part of the [JOSS review](https://github.com/openjournals/joss-reviews/issues/4484) I stumbled over some paragraphs or wordings in the paper. All of them are nitpicks that you can feel free to ignore, and the editors comments would take complete precedence - so please feel free to close this issue any time, and @emdupre can come in and invalidate any of my comments as she sees fit as well witho

[2022-08-19 09:48] adswa commented on #103
sure. thanks for the delineation. :)

[2022-08-19 14:20] TomDonoghue commented on #86
This update looks good to me!

[2022-08-22 15:42] #105 closed

[2022-08-22 15:43] mscheltienne commented on #105
Thank you for the review. PR #108 addresses this. Let us know if you think further changes are needed.

[2022-08-22 16:39] adswa commented on #105
Looks good to me, thx!

[2022-08-22 18:28] #107 closed

[2022-08-22 18:28] adam2392 commented on #107
Thanks @adswa for all these comments. I agree w/ all of them and have added them into the paper.

[2022-08-23 14:57] #103 closed

[2022-08-27 06:25] CarinaFo opened #114 "No module named 'numpy.typing'"
mne-icalabel 0.4
mne  1.1.1
linux

error occurs while importing mne-icalabel

[2022-08-27 07:33] jacobf18 commented on #114
@CarinaFo which version of numpy do you have installed?

[2022-08-27 11:15] mscheltienne commented on #114
Anyway, there is an error on our side. `numpy.typing` was introduced in 1.20, and `numpy.typing.NDArray` in 1.21.
And we have a requirement of 1.16 https://github.com/mne-tools/mne-icalabel/blob/97f2438c4221bab050ba9357e18b8980e2987391/pyproject.toml#L40

I fixed the requirement in 2a201830e46c5a021dd7d9f0c13de10887c68a8f

[2022-08-28 11:19] #114 closed

[2022-09-02 00:39] Ayumu722 opened #116 "mne_icalabel ImportError"
#### Describe the bug
I installed mne-icalabel via conda and tried to use mne-icalable.
However, when I import the mne_icalabel, I got Import Error.
"ImportError: cannot import name '_INTERPOLATION_DEFAULT' from 'mne.defaults' (MYFOLDER\Anaconda3\envs\mne\lib\site-packages\mne\defaults.py)"

#### Steps to reproduce
I used anaconda, mne version 1.1.1 and mne_icalabel version 0.4

#### Actual result

[2022-09-02 08:48] mscheltienne commented on #116
Thank you for the report. We forgot to bump the requirement for `mne` on `conda` https://github.com/conda-forge/mne-icalabel-feedstock/blob/e04ecbb509ff9688cfe7f3b6b765764a3b941892/recipe/meta.yaml#L27

But mne `1.1` should work. Could you do

[code]

and paste the output?

[2022-09-02 09:05] Ayumu722 commented on #116
Thank you for the comments!
Below is the exact output of mne.sys_info()
-----------------------------------------------------------------------------------------------------
Platform:         Windows-10-10.0.19044-SP0
Python:           3.10.4 | packaged by conda-forge | (main, Mar 30 2022, 08:38:02) [MSC v.1916 64 bit (AMD64)]
Executable:       C:\Users\ayumu\Anaconda3\envs\mne\python.exe
CPU:

[2022-09-02 09:11] mscheltienne commented on #116
Here you have it. I'm not sure how you have set up your environment, but for some reason, it's picking up 2 mne installations. It's not `mne-base`, could you try to create a new environment and install `mne` and `mne-icalabel` in it?

[code]

And then check the output of `sys_info` again.

Note that I separated the install of `mne` and `mne-icalabel` for 2 reasons:

1. That will install `mne` with

[2022-09-02 09:46] Ayumu722 commented on #116
Thanks!!

I did
[code]

and got below.
Platform:         Windows-10-10.0.19044-SP0
Python:           3.10.6 | packaged by conda-forge | (main, Aug 22 2022, 20:30:19) [MSC v.1929 64 bit (AMD64)]
Executable:       C:\Users\ayumu\Anaconda3\envs\test\python.exe
CPU:              Intel64 Family 6 Model 85 Stepping 7, GenuineIntel: 36 cores
Memory:           191.7 GB

mne:              1.1.1
numpy:

[2022-09-02 11:58] #116 closed

[2022-09-07 15:37] mscheltienne opened #117 "Example render for 0.4 stable website"
The examples did not render on the stable version of the doc: https://mne.tools/mne-icalabel/stable/auto_examples/index.html
It would be good to checkout the 0.4.0 version, rebuild the doc locally, and upload it on the gh-pages branch in the correct directory.

[2022-10-11 07:18] CarinaFo commented on #38
Sure, I converted now an instance of the fitte ICA and the epochs to .fif
files and zipped them.

I still get the same error, again indicating it is not related to the way I
save the data.

Best,

Carina
 test-ica.zip
<https://drive.google.com/file/d/1jevUpqMyB3HQAs8lDCZoJG1chOIJSZ4z/view?usp=drive_web>

Am Mo., 9. Mai 2022 um 10:40 Uhr schrieb Mathieu Scheltienne <
***@***.***>:

[2022-10-11 08:19] mscheltienne commented on #38
Could you give me access to this drive on my Gmail account? You should have received a request.

[2022-10-11 12:26] mscheltienne commented on #117
The filename pattern to execute the sphinx-gallery examples does not make sense to me: https://github.com/mne-tools/mne-icalabel/blob/34a896effe0851da1b5fd6b6c30e7cf9c792e3db/doc/conf.py#L258

We could probably change the example names to a `XX_name` format with `XX` 2 numbersm e.g. `00_`, `10_`, `20_` as for the MNE tutorials.
-> Helps to sort the examples.
-> Retains the possibility to add examp

[2022-10-11 14:25] adam2392 commented on #117
Yeah I think I copied it over originally so I'm +1 for simplifying.

[2022-10-11 15:45] mscheltienne commented on #117
I re-build and re-uploaded the 0.4 doc from the maint/0.4 branch, it build without warning, examples were executed, and it looked good locally, but it's messed up on the deployment. I'll try again later.

[2022-10-19 18:33] mscheltienne commented on #38
@CarinaFo up :)
Just in case, my Gmail account is mathieu.scheltienne@gmail.com

[2022-10-19 20:23] #117 closed

[2022-11-23 20:26] chmendoza commented on #8
Hello,

Thank you for mne-iclabel! I would like to test a new IC feature extracted from the time series in training a multi-class IC classifier (ideally, more than 2 types of ICs).

* Is the preprocessed MARA dataset publicly available?
* Is there any other dataset you would recommend that has more than two IC classes and has expert-annotated labels?
* If there is no such dataset, which standard E

[2022-11-24 19:04] jacobf18 commented on #8
@chmendoza As far as I know, there is no large publicly available dataset for IC classification. We were working on processing a dataset (referenced above) to test the IC classification. The feature/label dataset for ICLabel is available, but not the original IC's. That dataset is available here: https://github.com/lucapton/ICLabel-Dataset.